.Container{
	margin: 100px auto;
	width: 1000px;
	max-width: 90%;
}
.Header{
	display: flex;
}
.Content{
	flex: 1;
	padding-left: 10px;
}
.Content p{
	font-size: 24px;
}
.ImageContainer{
	flex: 2
}
.ImageContainer img{
	height: 100%;
	width: 100%;
	border: 1px solid #fff;
	object-fit: cover;
	object-position: center
}
.Gallery{
	display: flex;
	flex-direction: column;
	margin: 50px auto;
}
.Row{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.imageContent{
	width: 32%;
	margin: 3px;
}
.imageContent img{
	width: 100%;
	transition: all .4s ease-in;
}
.imageContent img:hover{
	transform: scale(1.05)
}
@media(max-width: 756px){
	.Header{
		flex-direction: column;
	}
	.Content p{
		font-size: 18px;
	}
	.Row{
		flex-direction: column;
		
	}
	.imageContent{
		width: 90%;
		margin: auto
	}
}




