.Korpa{
	width: 50px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid  #e95110;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 3px;
}
.divKorpa{
	display: flex;
	align-items: center;
	text-decoration: none;
	margin: 0 10px;
	animation: grow 6s ease infinite;
}
.divKorpa i{
	font-size: 24px
}
.Korpa span{
	font-weight: 800;
	color: #e95110;
}
@keyframes grow{
	
	0%{
		transform: scale(.50)
	}
	50%{
		transform: scale(.75)
	}
	100%{
		transform: scale(1)
	}
}
