.Input{
	display: flex;
	flex-direction: column;
}
.Input input{
	padding: 12px;
	outline: none;
	border-radius: 5px;
}
.Input input:focus{
	background: #ccc;
}
.Input label{
	margin: 5px 0;
	padding-left: 3px;
}

.Error{
	border: 3px solid #e30707;
	background: #e97676;
}
.Succes{
	border: 3px solid #13840f;
}